.market-card-contianer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: auto;
	height: 100%;
	background-color: transparent;
	color: #333333;
	width: 300px;
	margin: 1.25rem;

	.price-list {
		display: flex;
		flex-direction: column;
		gap: 0.125rem;

		.element-list {
			background-color: #f2f2f2; //f2f2f2
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			line-height: 24px;
			padding: 0 8px;
			//border: 1px solid #777777;
		}
	}

	.card-header {
		display: flex;
		flex-direction: column;
		background-color: #f2f2f2;
		align-items: center;

		.current-price-container {
			height: 32px;
			display: flex;
			font-size: 1.25rem;
			letter-spacing: 0.125rem;
			font-weight: 600;
			align-items: center;
			justify-content: center;
		}

		.market-span {
			font-weight: 500;
			letter-spacing: 0.0625rem;
		}
	}
}
