header {
    position: relative;
    top: 0;
    margin-left: 2rem;
    height: 60px;
}

p {
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    font-weight: 400;
    margin: 4px auto;
}