.dashboard {
	.dashboard-header {
		margin-bottom: 120px;
	}

	.dashboard-main {
		margin: auto;
		width: min-content;

		.graphs-container {
			margin: auto;

			.tabs-container {
				display: flex;
				gap: 4px;
				margin-bottom: 4px;
			}

			.market-card-container {
				display: flex;
				flex-direction: row;
				row-gap: 3rem;
				background-color: #fcfcfc; //d0d9dd
				width: fit-content;
				border-radius: 8px;
			}
		}

		.convert-section-container {
			display: flex;
			flex-direction: row;
			padding: 16px 8px;
			background-color: #fcfcfc;
			margin-top: 4px;
			border-radius: 8px;

			& span {
				color: #333333;
			}

			.input-convert-container {
				display: flex;
				flex-direction: column;
				width: 180px;
				align-items: center;
			}

			.conversion-list-container {
				display: flex;
				flex-direction: row;

				.market-conversion {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 200px;
					margin: auto 16px;
				}
			}
		}
	}
}
